<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="LayoutPartial/_MetaTagsPartial"/>
    <partial name="LayoutPartial/_StylePartial"/>
    
</head>
<body>

@RenderBody()

<partial name="LayoutPartial/_ScriptsPartial"/>
@RenderSection("Scripts", required: false)
</body>
</html>