@{
    ViewBag.Title = "Chat";
}

<input type="button" id="joinButton" value="Join  Room" />
<div id="inputForm">
    <input type="text" id="room" value="mainchatfoo" />
    <input type="text" id="userInput" value="@User.Identity.Name" />
    <input type="text" id="messageInput" />
    <input type="button" id="sendButton" value="Отправить" />

</div>
<div id="chatroom"></div>

