@page "~/account/signin"
@model LoginModel

@{
    ViewData["Title"] = "Авторизация";
}

<div class="container">
    <div class="row align-items-center justify-content-center min-vh-100 gx-0">

        <div class="col-12 col-md-5 col-lg-4">
            <div class="card card-shadow border-0">
                <div class="card-body">
                    <form id="account" method="post">

                        <div class="row g-6">
                            <div class="col-12">
                                <div class="text-center">
                                    <h3 class="fw-bold mb-2">@ViewData["Title"]</h3>
                                    <p>Вход в ваш аккаунт</p>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-floating">
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-floating">
                                    <input asp-for="Input.Login" class="form-control" placeholder="Логин">
                                </div>
                                <span asp-validation-for="Input.Login" class="text-danger"></span>
                            </div>


                            <div class="col-12">
                                <div class="form-floating">
                                    <input asp-for="Input.Password" class="form-control" placeholder="Пароль">
                                </div>
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>

                            <div class="col-12">
                                <button class="btn btn-block btn-lg btn-primary w-100" type="submit">Войти</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Text -->
            <div class="text-center mt-8">
                <p>Еще не зарегистрированы? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Регистрация</a></p>
                <p>Забыли пароль? Обратитесь к системному администратору.</p>
            </div>
        </div>
    </div> <!-- / .row -->
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
